<form action="/order" method="post">
  <%= token_tag form_authenticity_token %>
  Amount: <input type="number" min="0" step=".01" name="price"><br>
  <p>Order Description:</p>
  <textarea name="description" rows="10" cols="80"></textarea><br>
  <br><input type="submit" value="Submit">
</form>
