<form action="/order" method="post">
  <%= token_tag form_authenticity_token %>
  Order Description: <br>
  <textarea name="description" rows="10" cols="80"></textarea>
  <br><input type="submit" value="Submit">
</form>
