<p>Welcome to the Lunchorder8ter. Please login below, or <a href="/signup">sign up</a></p>

<% if flash[:error] %>
  <p style="color:red">The following error occured: <%= flash[:error] %> Please try again.</p>
<% end %>

<form action="/login" method="post">
  <%= token_tag form_authenticity_token %>
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <br><input type="submit" value="Submit">
</form>
