<head>Home Page

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

</head>

<body>
  <h1 style="color: Green; font-family: Arial">Welcome to the LunchOrder8ter</h1>

  <a href="/user">Create a new user</a><br>
  <a href="/order">Create a new order</a>
</body>
